{{#if editing}}
  <form {{action updateRecipe editing on="submit"}}>
    <h2>Editing {{editing._id}}</h2>

    <p>
      <label>Brewing Method</label>
      {{input type="text" placeholder="Brewing Method" value=editing.method}}
    </p>

    <p>
      <label>Grind Number</label>
      {{input type="text" placeholder="Grind Number" value=editing.grind}}
    </p>

    <p>
      <label>Coffee Weight</label>
      {{input type="text" placeholder="Coffee Weight" value=editing.coffeeWeight}}
    </p>

    <p>
      <label>Water Weight</label>
      {{input type="text" placeholder="Water Weight" value=editing.waterWeight}}
    </p>

    <p>
      <label>Rating</label>
      {{input type="text" placeholder="Rating" value=editing.rating}}
    </p>

    <p>
      <button {{action stopEditing}}>Back</button>
      <button>Submit</button>
    </p>
  </form>
{{else}}
  <form {{action saveNewRecipe on="submit"}}>
    <h3>New Recipe</h3>

    <p>
      <label>Brewing Method</label>
      {{input type="text" placeholder="Brewing Method" value=method}}
    </p>

    <p>
      <label>Grind Number</label>
      {{input type="text" placeholder="Grind Number" value=grind}}
    </p>

    <p>
      <label>Coffee Weight</label>
      {{input type="text" placeholder="Coffee Weight" value=coffeeWeight}}
    </p>

    <p>
      <label>Water Weight</label>
      {{input type="text" placeholder="Water Weight" value=waterWeight}}
    </p>

    <p>
      <label>Rating</label>
      {{input type="text" placeholder="Rating" value=rating}}
    </p>

    <p>
      <button {{action clearForm}}>Reset</button>
      <button>Submit</button>
    </p>
  </form>

  <ul>
    {{#each model as |recipe|}}
      {{log recipe}}
      <li>
        {{recipe.method}}
        <button {{action deleteRecipe recipe}}>X</button>
        <button {{action startEditing recipe}}>Edit</button>
      </li>
    {{/each}}
  </ul>
{{/if}}
